<a href="https://colab.research.google.com/github/Joseph00001/Joseph00001/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
number = 20
name = 'asim'
b = 4.4
print(number)
print(name)
print(b)

20
asim
4.4

In [ ]:
name = 'python'
print(name)

python

In [ ]:
x = y = z = 'software testing help'
print(x)
print(y)
print(z)

software testing help
software testing help
software testing help

In [ ]:
a,b,c = 2,4.5,'hello'
print(a)
print(b)
print(c)

2
4.5
hello

In [ ]:
a = 5
print(a,'is of type' , type(a))

5 is of type <class 'int'>

In [ ]:
b = 2.5
print(b, 'is of type' , type (b))

2.5 is of type <class 'float'>

In [ ]:
string1 = 'welcome'
string2 = 'to python'
print(string1 + string2)

welcometo python

In [ ]:
string1 = 'welcome'
string2 = 'to python'
print(string1*4)

welcomewelcomewelcomewelcome

In [ ]:
string1 = 'welcome'
string2 = 'to python'
print(string1[2:5])

lco

In [ ]:
string1 = 'welcome'
string2 = 'to python'
print(string1[-3:])

ome

In [ ]:
string1 = 'welcome'
string2 = 'to python'
string[1]='d'

NameError: ignored

In [ ]:
list = (2,4,5.,'hi')
print('list[2] =' , list[2])

list[2] = 5.0

In [ ]:
list = [2,4,5.5,'hi']
print('list[0:3] = ',list[0:3])

list[0:3] =  [2, 4, 5.5]

In [ ]:
list = [2,4,5.5,'hi']
list[3] = 'hello'
print(list)

[2, 4, 5.5, 'hello']

In [ ]:
tuple = (14,24,15.27,'python')
print('tuple[1] =', tuple[1])

tuple[1] = 24

In [ ]:
tuple = (14,24,15.27,'python')
print('tuple[0:3] = ', tuple[0:3])

tuple[0:3] =  (14, 24, 15.27)

In [ ]:
set = {5,10,1.5,'python'}
print(set)

{1.5, 10, 'python', 5}

In [ ]:
a = {'a','c','d'}
b = {'c','d',2}
print('a U b =', a|b)

a U b = {'d', 2, 'c', 'a'}

In [ ]:
a = {100,7,8}
b = {200,4,7}
print(a&b)

{7}

In [ ]:
dict = {1:'hello',2:7.4,3:'class'}
print(dict)

{1: 'hello', 2: 7.4, 3: 'class'}

In [ ]:
dict = {1:'hello',2:7.4,3:'class'}
print(dict[2])

7.4

In [ ]:
dict = {1:'hello',2:7.4,3:'class'}
dict[3] = 'python'
print(dict)

{1: 'hello', 2: 7.4, 3: 'python'}

In [ ]:
x = 15
y = 10
print('x+y=',x+y)
print('x-y=',x-y)
print('x*y=',x*y)
print('x/y=',x/y)
print('x%y=',x%y)
print('x//y=',x//y)
print('x**y=',x**y)

x+y= 25
x-y= 5
x*y= 150
x/y= 1.5
x%y= 5
x//y= 1
x**y= 576650390625

In [ ]:
x=8
y=15
('x>y is',x>y)
print('x<y is',x<y)
print('x==y is',x==y)
print('x!=y is',x!=y)
print('x>=y is',x>=y)
print('x<=y is',x<=y)

x<y is True
x==y is False
x!=y is True
x>=y is False
x<=y is True

In [ ]:
a = True
b = False
print('a and b is',a and b)
print('a or b is', a or b)
print('not a is',not a)

a and b is False
a or b is True
not a is False

In [ ]:
a1 = 3
b1 = 3
a2 = 'python'
b2 = 'python'
a3 = [4,5,6]
b3 = [4,5,6]
print(a1 is not b1)
print(a2 is b2)
print(a3 is b3)

False
True
False

In [ ]:
a ='python operation'
b ={1:'x',2:'y'}
print('p' in a)
print('python' not in a)
print(1 in b)
print('y' in b)

True
False
True
False

In [ ]:
num = 5
if(num < 10):
  print('num is smaler than 10')
  
print('this statement will always be executed')

num is smaler than 10
this statement will always be executed

In [ ]:
a = 7
b = 0
if (a>b):
  print('a is greater than b')

a is greater than b

In [ ]:
a = 7
b = 0
if (a>b):
  print('b is greater than a')

b is greater than a

In [ ]:
a = 7
b = 0
if (a):
  print('true')

true

In [ ]:
if ('python' in ['java','python','c#']):
  print('true')

true

In [ ]:
passing_score = 60
my_score = 67
if(my_score >= passing_score):
  print('congratulation! you have passed your exam')

congratulation! you have passed your exam

In [ ]:
passing_score = 60
my_score = 67
if(my_score >= passing_score):
  print('you have passed your exam')

  
  print('congratulation!')

you have passed your exam
congratulation!

In [ ]:
num = 5
if(num > 10):
  print('number is greater than 10')
else:
  print('number less than 10')
print('this statement will be execued')

number less than 10
this statement will be execued

In [ ]:
 a = 7
 b = 0
 if (a>b):
   print('a is greater than b')
else:
  print('b is greater than a')

a is greater than b

In [ ]:
 a = 7
 b = 0
 if (a<b):
   print('a is smaller than b')
else:
  print('b is smaller than a')

b is smaller than a

In [ ]:
passing_score = 60 
my_score = 67
if(my_score >= passing_score):
  print('congratulation! you have passed your exam')
  print('you are passed in the exam')
else:
  print('sorry! you failed the exam, better luck in the next time')

congratulation! you have passed your exam
you are passed in the exam

In [ ]:
passing_score = 60 
my_score = 47
if(my_score >= passing_score):
  print('congratulation! you have passed your exam')
  print('you are passed in the exam')
else:
  print('sorry! you failed the exam, better luck in the next time')

sorry! you failed the exam, better luck in the next time

In [ ]:
num = 10
if (num == 0):
  print('number is zero')
elif(num>5):
  print('number is greater than 5')
else:
  print('number is smaller than 5')

number is greater than 5

In [ ]:
num = -7
if(num>0):
  print('number is positive')
elif(num<0):
  print('number is negative')
else:
  print('number is zero')

number is negative

In [ ]:
num = 5 
if(num>0):
  print('number is positive')
if(num<10):
  print('number is less than 10')

number is positive
number is less than 10