<a href="https://colab.research.google.com/github/Joseph00001/Joseph00001/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1=1.5
num2=6.3
sum=num1+num2
print('the sum of{0}and{1}is{2}'.format(num1,num2,sum))

the sum of1.5and6.3is7.8

In [ ]:
num=8
num_sqrt=num**0.5
print('the square root of %0.3f is %0.3f'%(num,num_sqrt))

the square root of 8.000 is 2.828

In [ ]:
import cmath
num=1+2j
num_sqrt=cmath.sqrt(num)
print('the square root of {0}is {1:0.3f}+{2:0.3f}j'.format(num,num_sqrt.real,num_sqrt.imag))

the square root of (1+2j)is 1.272+0.786j

In [ ]:
num = 125
num_sqrt = num**0.5
print('the square root of %0.5f is %0.5f'%(num,num_sqrt))

the square root of 125.00000 is 11.18034

In [ ]:
num1 = input('enter first number:')
num2 = input('enter second number:')
sum = float(num1) + float(num2)
print('the sum of {0} and {1} is {2}'.format(num1,num2,sum))

enter first number:2
enter second number:7
the sum of 2 and 7 is 9.0

In [ ]:
a = 15
b = 24
c = 26
s = (a+b+c)/2
area = (s*(s-a)*(s-b)*(s-c))**0.5
print('the area of the triangle is %0.5f'%area)

the area of the triangle is 177.26657

In [ ]:
x = 5
y = 10
temp = x
x = y
y = temp
print('the value of x after swapping: {}'.format(x))
print('the value of y after swapping: {}'.format(y))

the value of x after swapping: 10
the value of y after swapping: 5

In [ ]:
a,b,c = 12,24.26,'hello'
print(a)
print(b)
print(c)

12
24.26
hello

In [ ]:
a = b = c = 'hassan'
print(a)
print(b)
print(c)

hassan
hassan
hassan

In [ ]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(12, 8, -15))

12

In [ ]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((18, 12, 13, 10, 17)))

70

In [ ]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(multiply((18, 12, 13, -11, 17)))

-525096

In [ ]:
def string_reverse(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1
print(string_reverse('uiegfiwu1237923hjf'))

fjh3297321uwifgeiu

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 2
2

In [ ]:
def test_range(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

 5 is in the range

In [ ]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

In [ ]:
from time import sleep
import math
def delay(fn, ms, *args):
  sleep(ms / 1000)
  return fn(*args)
print("Square root after specific miliseconds:") 
print(delay(lambda x: math.sqrt(x), 100, 16))
print(delay(lambda x: math.sqrt(x), 1000, 100))
print(delay(lambda x: math.sqrt(x), 2000, 25100))

Square root after specific miliseconds:
4.0
10.0
158.42979517754858

In [ ]:
def make_bold(fn):
    def wrapped():
        return "<b>" + fn() + "</b>"
    return wrapped

def make_italic(fn):
    def wrapped():
        return "<i>" + fn() + "</i>"
    return wrapped

def make_underline(fn):
    def wrapped():
        return "<u>" + fn() + "</u>"
    return wrapped
@make_bold
@make_italic
@make_underline
def hello():
    return "hello world"
print(hello()) ## returns "<b><i><u>hello world</u></i></b>"

<b><i><u>hello world</u></i></b>

In [ ]:
def sum(numbers):
    total = 0
    for x in numbers:
        total += x
    return total
print(sum((18, 12, 13, 10, 17)))

70

In [ ]:
def multiply(numbers):  
    total = 1
    for x in numbers:
        total *= x  
    return total  
print(multiply((18, 12, 13, -11, 17)))

-525096

In [ ]:
def string_reverse(str1):

    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1[ index - 1 ]
        index = index - 1
    return rstr1
print(string_reverse('1234dfhteuabcd'))

dcbauethfd4321

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 22
1124000727777607680000

In [ ]:
def test_range(n):
    if n in range(3,9):
        print( " %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(5)

 5 is in the range

In [ ]:
def string_test(s):
    d={"UPPER_CASE":0, "LOWER_CASE":0}
    for c in s:
        if c.isupper():
           d["UPPER_CASE"]+=1
        elif c.islower():
           d["LOWER_CASE"]+=1
        else:
           pass
    print ("Original String : ", s)
    print ("No. of Upper case characters : ", d["UPPER_CASE"])
    print ("No. of Lower case Characters : ", d["LOWER_CASE"])

string_test('The quick Brown Fox')

Original String :  The quick Brown Fox
No. of Upper case characters :  3
No. of Lower case Characters :  13

In [ ]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [ ]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True             
print(test_prime(9))

False

In [ ]:
def perfect_number(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(perfect_number(6))

True

In [ ]:
def perfect_number(n):
    sum = 0
    for x in range(1, n):
        if n % x == 0:
            sum += x
    return sum == n
print(perfect_number(6))

True

In [ ]:
def isPalindrome(string):
	left_pos = 0
	right_pos = len(string) - 1
	
	while right_pos >= left_pos:
		if not string[left_pos] == string[right_pos]:
			return False
		left_pos += 1
		right_pos -= 1
	return True
print(isPalindrome('aza'))

True

In [ ]:
def pascal_triangle(n):
   trow = [1]
   y = [0]
   for x in range(max(n,0)):
      print(trow)
      trow=[l+r for l,r in zip(trow+y, y+trow)]
   return n>=1
pascal_triangle(6)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]
[1, 5, 10, 10, 5, 1]

True

In [ ]:
import string, sys
def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset = set(alphabet)
    return alphaset <= set(str1.lower())
 
print ( ispangram('The quick brown fox jumps over the lazy dog'))

True

In [ ]:
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

15
15

In [ ]:
def printValues():
	l = list()
	for i in range(1,21):
		l.append(i**2)
	print(l)
		
printValues()

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [ ]:
mycode = 'print("hello world")'
code = """
def mutiply(x,y):
    return x*y

print('Multiply of 2 and 3 is: ',mutiply(2,3))
"""
exec(mycode)
exec(code)

hello world
Multiply of 2 and 3 is:  6

In [ ]:
def test(a):
        def add(b):
                nonlocal a
                a += 1
                return a+b
        return add
func= test(4)
print(func(4))

9

In [ ]:
def abc():
    x = 1
    y = 2
    str1= "w3resource"
    print("Python Exercises")

print(abc.__code__.co_nlocals)

3

In [ ]:
def unique_list(l):
  x = []
  for a in l:
    if a not in x:
      x.append(a)
  return x

print(unique_list([1,2,3,3,3,3,4,5]))

[1, 2, 3, 4, 5]

In [ ]:
print("Choice 1:add,2:sub,3:div,4:multi,5:exit")
c=int(input("Enter the choice:"))
if(c==1):
  print("Add")
  A=int(input("Enter the value of a:"))
  B=int(input("Enter the value of b:"))
  D=A+B
  print("the result of a+b =",D)
elif(c==2):
  print("sub")
  A=int(input("Enter the value of a:"))
  B=int(input("Enter the value of b:"))
  D=A-B
  print("the result of a+b =",D)
elif(c==3):
  print("div")
  A=int(input("Enter the value of a:"))
  B=int(input("Enter the value of b:"))
  D=A/B
  print("the result of a+b =",D)
elif(c==4):
  print("multi")
  A=int(input("Enter the value of a:"))
  B=int(input("Enter the value of b:"))
  D=A*B
  print("the result of a+b =",D)
elif(c==5):
  print("choose the correct opertion" )

Choice 1:add,2:sub,3:div,4:multi,5:exit
Enter the choice:4
multi
Enter the value of a:24
Enter the value of b:4
the result of a+b = 96